@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Fredoka", serif;
} 

*::before, *::after { 
    padding: 0; 
    margin: 0; 
}

:root { 
    --dark: #000000;
    --aqua: #00fff6;
    --aqualight: #3bd47b; 
    --light: #ffffffce; 
    --white: #ffffff; 
    --darkwhite: #cecaca; 
    --lightshadow: rgba(0, 0, 0, 0.15); 
} 

body { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    background-color: black; 
}

/* Reproductor de música principal */

.wrapper { 
    width: 360px; 
    padding: 25px 30px; 
    overflow: hidden; 
    position: relative; 
    border-radius: 1rem;
    border: 3px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem); 
    -webkit-backdrop-filter: blur(0.4rem);
    box-shadow: 0px 6px 15px var(--lightshadow);
} 

.wrapper i { 
    cursor: pointer; 
}

/* Buscador, más de este artista, etc */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 250px;
    visibility: hidden;
    position: absolute;
    left: -200px;
    background-color: #ffffff60;
    backdrop-filter: blur(4px);
    min-width: 160px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
    opacity: 0;
    transform: scale3d(0, 0, 0);
}

.dropdown-content.show {
    visibility: visible;
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.dropdown-content.hide {
    visibility: hidden;
    opacity: 0;
    transform: scale3d(0, 0, 0);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    transform: rotate(0deg);
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Buscador principal */

.search-container-principal {
    width: 100%;
    display: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    justify-content: center;
    align-items: center;
}

#search-input-principal {
    font-size: 14px;
    background: transparent;
    color: white;
    width: 85%;
    margin-left: 23px;
    padding: 8px;   
    border-radius: 28px;
    border: 1px solid #ccc;
}

#close-search {
    display: none;
    cursor: pointer;
}

.show-search #search-container-principal {
    display: flex;
}

.show-search #more-options,
.show-search .dropdown-content {
    display: none;
}

.show-search #close-search {
    display: block;
    margin-left: 20px;
}

/* Sugerencias */
.suggestions-container {
    display: none;
    width: 350px;
    font-size: 13.7px;
    position: absolute;
    text-align: center;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f1f1f1;
}

.suggestion-item strong {
    color: #000;
}

/* Barra de música, progress, time, controls, list, etc. */

.top-bar, .progress-area 
.song-timer, .controls, 
.music-list .header, 
.music-list ul li { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

#expand-more {
    opacity: 0;
    cursor: none;
}

.top-bar i { 
    font-size: 30px; 
    color: var(--light); 
} 

.top-bar i:first-child { 
    margin-left: -7px; 
}

.top-bar span { 
    font-size: 18px; 
    margin-left: -3px; 
    color: var(--dark); 
}

.img-area {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px white, 0px 0px 15px white;
}

.img-area img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.img-area.playing img {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.song-details { 
    text-align: center; 
    margin: 25px 0; 
} 

.song-details p {
    font-family: "Comfortaa", sans-serif;
    color: var(--light);
    margin-top: -5px;
} 

.song-details .name { 
    font-size: 21px;
    margin-top: 30px; 
}

.song-details .artist { 
    font-size: 13px; 
    opacity: 0.5; 
    line-height: 15px; 
} 

/* Barra de progreso */

.progress-area { 
    height: 6px; 
    width: 100%; 
    border-radius: 50px; 
    background: #f0f0f0; 
    cursor: pointer;
    position: relative;
    overflow: visible; 
}

.progress-area .progress-bar { 
    height: inherit; 
    width: 0%; 
    position: relative; 
    border-radius: inherit; 
    background: linear-gradient(90deg, var(--aqualight) 0%, var(--aqua) 100%);
    overflow: visible;
}

.progress-bar::before { 
    content: ""; 
    position: absolute; 
    height: 20px; 
    width: 20px; 
    border-radius: 50%; 
    top: 50%; 
    right: -10px;   
    cursor: pointer; 
    transform: translateY(-50%);
    background: var(--aqua); 
    z-index: 2; 
}

.progress-area .song-timer { 
    margin-top: 2px; 
} 

.song-timer span { 
    font-size: 13px; 
    color: var(--light); 
} 

.controls { 
    margin: 40px 0 5px 0; 
}

.controls i { 
    font-size: 28px; 
    user-select: none; 
    background: var(--light); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
} 

.controls i:nth-child(2), .controls i:nth-child(4) { 
    font-size: 43px; 
} 

.controls #prev { 
    margin-right: -13px; 
}

.controls #prev { 
    margin-right: -13px; 
} 

.controls #next { 
    margin-left: -13px; 
}

.controls .play-pause { 
    height: 54px; 
    width: 54px; 
    display: flex; 
    cursor: pointer; 
    align-items: center; 
    justify-content: center; 
    border-radius: 50%; 
    background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%); 
    box-shadow: 0px 0px 5px var(--white);
}

.play-pause::before { 
    position: absolute; 
    content: "";
    height: 43px; 
    width: 43px; 
    border-radius: inherit; 
    background: linear-gradient(var(--aqua) 0%, var(--dark) 100%); 
}

.play-pause i { 
    height: 43px; 
    width: 43px; 
    line-height: 43px; 
    text-align: center; 
    background: inherit; 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    position: absolute; 
}

/* Lista de canciones */

.music-list { 
    position: absolute; 
    background: rgba(255, 255, 255, 0.411); 
    width: 100%; 
    left: 0; 
    bottom: -55%; 
    opacity: 0; 
    pointer-events: none; 
    z-index: 5; 
    padding: 15px 30px; 
    border-radius: 15px; 
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.15s ease-out;
    backdrop-filter: blur(4px);
}

.music-list.show { 
    bottom: 0; 
    opacity: 1; 
    pointer-events: auto; 
} 

.header .row { 
    display: flex; 
    align-items: center; 
    font-size: 19px; 
    color: var(--dark);
}

.header .row i { 
    cursor: default; 
} 

.header .row span { 
    margin-left: 5px; 
} 

.header #close { 
    font-size: 22px; 
    color: var(--white);
    font-weight: 700; 
}

#back-to-alphabet { 
    opacity: 1;
} 

#back-to-alphabet {
    font-size: 20px;
    color: var(--white);
    font-weight: bold;
    margin-left: -20px;
}

.music-list ul { 
    margin: 10px 0;
    margin-top: 20px; 
    max-height: 250px; 
    overflow-y: auto;
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch;
} 

.music-list ul::-webkit-scrollbar { 
    width: 0px;
} 

.music-list ul li {
    position: relative; 
    font-size: 10px; 
    list-style: none; 
    display: block;
    cursor: pointer; 
    padding-bottom: 7px; 
    margin-bottom: 5px; 
    color: var(--dark);
    border-bottom: 1px solid #E5E5E5; 
}

.music-list ul li:last-child {
    border-bottom: 0;
}

.music-list ul li .row {
    display: block;
    margin-left: 0px;
}

.music-list ul li .row span {
    font-size: 30px;
    display: inline-block;
}

.music-list ul li .row p { 
    opacity: 0.9; 
    margin: 2px 0 0 0; 
    display: block;
}

.music-list ul li:last-child { 
    border-bottom: 0px; 
} 

.music-list ul li 
.row span { 
    font-size: 13px;
} 

.music-list ul li 
.row p { 
    opacity: 0.9; 
} 

ul li .audio-duration { 
    font-size: 16px; 
}

ul li.playing { 
    pointer-events: none; 
    color: var(--dark); 
}

.dance {
    width: 35px;
    margin-top: -10px;
}

/* Lista del abecedario */

.alphabet-list {
    width: 100%; 
    padding: 15px 3px; 
    border-radius: 15px; 
    margin-bottom: 20px;
}

.alphabet-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.alphabet-list ul li {
    margin: 5px 0;
}

.alphabet-list ul li a {
    text-decoration: none;
    color: var(--dark);
}

/* Fondo */

@keyframes colors {
    to{
        opacity: 1;
        transform: scale(0) translateY(0) rotate(70deg);
    }
      100%{
        opacity: 0;
        transform: scale(2) translateY(-100px) rotate(360deg);
    }
}

.light {
    position: absolute;
    background: white;
    box-shadow: 
    0px 0px 10px white,
    0px 0px 20px white,
    0px 0px 30px aqua,
    0px 0px 40px aqua,
    0px 0px 50px aqua;
}

.colors1 {
    top: 30%;
    left: 10%;
    height: 10px;
    width: 10px;
    animation: 12s colors infinite;
}

.colors2 {
    top: 90%;
    left: 85%;
    height: 5px;
    width: 5px;
    animation: 6s colors infinite;
    border-radius: 50px;
}

.colors3 {
    top: 40%;
    left: 40%;
    height: 10px;
    width: 10px;
    animation: 16s colors infinite;
}

.colors4 {
    top: 66%;
    left: 30%;
    height: 9px;
    width: 9px;
    animation: 7s colors infinite;
    border-radius: 50px;
}

.colors5 {
    top: 89%;
    left: 5%;
    height: 5px;
    width: 5px;
    animation: 12s colors infinite;
    border-radius: 50px;
}

.colors6 {
    top: 30%;
    left: 95%;
    height: 9px;
    width: 9px;
    animation: 4s colors infinite;
    border-radius: 50px;
}

.colors7 {
    top: 80%;
    left: 18%;
    height: 5px;
    width: 10px;
    animation: 9s colors infinite;
}

.colors8 {
    top: 90%;
    left: 75%;
    height: 5px;
    width: 5px;
    animation: 15s colors infinite;
    border-radius: 50px;
}

.colors9 {
    top: 50%;
    left: 60%;
    height: 7px;
    width: 7px;
    animation: 5s colors infinite;
    border-radius: 50px;
}

.colors10 {
    top: 97%;
    left: 20%;
    height: 5px;
    width: 5px;
    animation: 15s colors infinite;
    border-radius: 50px;
}

.colors11 {
    top: 10%;
    left: 85%;
    height: 5px;
    width: 10px;
    animation: 7s colors infinite;
}

.colors12 {
    top: 20%;
    left: 80%;
    height: 8px;
    width: 8px;
    animation: 10s colors infinite;
    border-radius: 50px;
}

.colors13 {
    top: 20%;
    left: 15%;
    height: 10px;
    width: 10px;
    animation: 8s colors infinite;
    border-radius: 50px;
}

.colors14 {
    top: 97%;
    left: 12%;
    height: 5px;
    width: 10px;
    animation: 10s colors infinite; 
}

.colors15 {
    top: 95%;
    left: 70%;
    height: 5px;
    width: 5px;
    animation: 3s colors infinite;
    border-radius: 50px;
}

.colors16 {
    top: 85%;
    left: 80%;
    height: 5px;
    width: 5px;
    animation: 7s colors infinite;
    border-radius: 50px;
}

.colors17 {
    top: 45%;
    left: 28%;
    height: 5px;
    width: 10px;
    animation: 5s colors infinite;
}

.colors18 {
    top: 90%;
    left: 25%;
    height: 5px;
    width: 5px;
    animation: 5s colors infinite;
    border-radius: 50px;
}

.colors19 {
    top: 97%;
    left: 95%;
    height: 5px;
    width: 5px;
    animation: 12s colors infinite;
    border-radius: 50px;
}

.colors20 {
    top: 59%;
    left: 78%;
    height: 5px;
    width: 10px;
    animation: 13s colors infinite;
}

.colors21 {
    top: 65%;
    left: 95%;
    height: 10px;
    width: 10px;
    animation: 9s colors infinite;
}

.colors22 {
    top: 66%;
    left: 65%;
    animation: animate 4s linear infinite;
    height: 5px;
    width: 10px;
    animation: 12s colors infinite;
}

.colors23 {
    top: 35%;
    left: 4%;
    height: 6px;
    width: 6px;
    animation: 9s colors infinite;
    border-radius: 50px;
}

.colors24 {
    top: 60%;
    left: 13%;
    height: 4px;
    width: 4px;
    animation: 6s colors infinite;
    border-radius: 50px;
}

.colors25 {
    top: 85%;
    left: 35%;
    height: 5px;
    width: 10px;
    animation: 9s colors infinite;
}